<div class="footer">
  <p>Connect with me</p>
  <div class="social col-xs-3">
    <%= link_to image_tag("linkedin-logo.png", :alt => "linkedin", :height => "35"), "https://www.linkedin.com/in/caleb-harnell-72abb5143/"%>
  </div>
  <div class="social col-xs-3">
    <%= link_to image_tag("github-logo.png", :alt => "github", :height => "35"), "https://github.com/calebharnell"%>
  </div>
  <div class="social col-xs-3">
    <%= link_to image_tag("medium-logo.png", :alt => "medium", :height => "35"), "https://medium.com/@calebharnell"%>
  </div>
  <div class="social col-xs-3">
    <%= link_to image_tag("codepen-logo.png", :alt => "codepen", :height => "35"), "https://codepen.io/calebharnell/"%>
  </div>
</div>
