<div class="container">

  <div class="row pad-row">
    <div class="col-md-6" align="center">
      <%= image_tag("about-me-pic.png", :class=> "img-circular", :alt => "Profile picture") %>
    </div>
    <div class="col-md-6">
      <h5>About Me</h5>
      <p>Hi, I'm Caleb! Im 26 years old and currently enrolled with CoderAcademy, studying their 6 month Fast-track course. I am due to graduate in March 2018 and will be seeking employment as a Junior Web Developer or Junior Software Developer in Brisbane.  I have always been passionate about computers and technology and am excited to break into the industry.</p>
      </div>
    </div>

    <div class="row pad-row">
      <div class="col-md-6" align="right">
        <h5>Work/Study History</h5>
        <p>I graduated high school in 2008 and soon after joined the Royal Australian Air Force.  I completed my full-time service period and continued on a part-time basis in the RAAF Reserves.  I also applied to become a corrections officer and continued to work inside a prison for the next 6 years.  I've now decided to finally pursue my dream and study web/software development with the help of Coder Academy!</p>
      </div>
      <div class="col-md-6" align="center">
        <%= image_tag("briefcase.png", :class=> "img-circular", :alt => "Briefcase icon") %>
      </div>
    </div>

      <div class="row pad-row">
        <div class="col-md-6" align="center">
          <%= image_tag("globe.png", :class=> "img-circular", :alt => "Globe Icon") %>
        </div>
        <div class="col-md-6">
          <h5>Interests</h5>
          <p>Sports - I love playing/watching sport, especially Rugby League</p>
          <p>Travel - I have travelled to 12 countries in Europe and am keen to see as many as I can!</p>
          <p>Photography - On a very amateur basis, especially while travelling - as displayed by my photos featured on the homepage</p>
          <p>Programming - Of course!</p>
          </div>
        </div>

  </div>
