<div class="container">

  <div class="row">
    <div class="contact-img col-xs-12">
      <%= image_tag("phone-icon.png", :alt => "Phone icon") %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <p class="contact-details">0433 630 563</p>
    </div>
  </div>

  <div class="row">
    <div class="contact-img col-xs-12">
      <%= image_tag("laptop-icon.png", :alt => "Laptop icon") %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <p class="contact-details">calebharnell@hotmail.com</p>
    </div>
  </div>

</div>
