<div class="container">

  <div class="gallery-container">
    <div class="row imagetiles">
      <div class="grid-img col-md-6 col-xs-12 hover-effect">
        <%= image_tag("grid-image-1.jpg", :alt => "grid-image-1", :class => "img-fluid grid-img-style") %>
        <button class="btn-primary-outline">
          <a href="/portfolio">SEE MY WORK</a>
        </button>
      </div>
      <div class="grid-img col-md-6 col-xs-12 hover-effect">
        <%= image_tag("grid-image-2.jpg", :alt => "grid-image-2", :class => "img-fluid grid-img-style") %>
        <button class="btn-primary-outline">
          <a href="/contact">HIRE ME</a>
        </button>
      </div>
      <div class="grid-img col-md-6 col-xs-12 hover-effect gap">
        <%= image_tag("grid-image-3.jpg", :alt => "grid-image-3", :class => "img-fluid grid-img-style") %>
        <button class="btn-primary-outline">
          <a href="/contact">NEED A WEBSITE?</a>
        </button>
      </div>
      <div class="grid-img col-md-6 col-xs-12 hover-effect gap">
        <%= image_tag("grid-image-4.jpg", :alt => "grid-image-4", :class => "img-fluid grid-img-style") %>
        <button class="btn-primary-outline">
          <a href="/about">WHO AM I?</a>
        </button>
      </div>
    </div>
  </div>

</div>
